.hero_section{
    background-image: url("../assets/Images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 914px;
    width: 100%;
}

.cover-content{
    min-height: 700px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.content{
    width: 45%;
}

.para{
    width: 90%;
}
.AI{
    line-height: 1.4;
    width: 80%;
    font-weight: bold;
}

.button-group{
    display: flex;
    gap: 30px;
}

/* -------Corousal div------- */

.carousel-wrapper {
  max-width: 400px;
  margin: auto;
  position: relative;
}

.carousel-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.carousel-card img {
  width: 100%;
  border-radius: 8px;
}


