.About-container{
    background-image: url("../assets/Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 914px;
}

.custom-shadow {
  box-shadow: 0px 0px 20px 0px #0000001F;
  opacity: 0.9;
}

.bg-white{
  background-color: white;
}

.font-16{
  font-size: 16px;
}

.col-line-1{
  left: -7%;
  top: 100%;
  border-radius: 0 80px 80px 0;
}

.line{
 width: 0.2%;
  min-height: 4rem;
  background-color: #CD6028;
}


.col-line-2{
    right: -7%;
    /* top: 150%; */
    bottom: -110%;
    border-radius: 80px 0px 0px 80px;
}

