/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 48px;
  line-height: 68.25px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}