.img-dot{
    left: -5%;
}

.img-dot-2{
    right: -6%;
}

.card-head{
    font-size: 16px !important;
    font-weight: bold !important;
}

.param-2{
    font-size: 12px;
    line-height: 1.6;
}

.card-wrapper{
    display: flex;
    justify-content: center;
}


.bg-box {
  top: 58%;
  left: 3%;
  width: 392px;
  min-height: 110px;
  background: linear-gradient(135deg, #e7d9ff, #f2edff);
  border-radius: 14px;
  /* z-index: 5; */
}

.card-box {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  z-index: 2;
  width: 343px;
}

.box-model{
    width: 392px;
    height: 110px;
}
