.location-head{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: underline;
    gap: 10px;
}

.contact-form{
    width: 45%;
    z-index: 2;
    background-color: white;
}

.w-48{
    width: 48% ;
}

.dotimg{
    margin-left: -100px;
    margin-bottom: 20px;
}

.contact-form{
    /* background-color: #f8f9fa; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button-enquiry{
    background-color: #3E6EB4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 160px;
    cursor: pointer;
    width: 100%;
}