.hero-section {
    background-image: url("../assets/Images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 814px;
    width: 100%;
}

.hero-container {
    min-height: 600px;
    display: flex;
    align-items: center;
}

.hero-row {
    width: 50%;
}

.AI{
    line-height: 1.4;
}

.para{
    width: 80%;
}

.buttons{
    display: flex;
    gap: 30px;
}