.industries-section {
    position: relative;
    width: 100%;
    min-height: 781px;
}

.industries{
      background-image: url("../assets/Images/circle1.png");
    background-position: start;
    background-repeat: no-repeat;
    min-height: 781px;
    width: 100%;
}



.AI-content{
    position: absolute;
    top: 15%;
    /* left: 8%; */
    z-index: 1;
    width: 50%;
}

.dots{
    position: absolute;
    left: 70%;
    top: 15%;
    /* z-index: 2; */
}

.dots1{
    position: absolute;
    right: 0;
    bottom: 0;
}






