.industries-section {
    width: 100%;
    min-height: 781px;
}

.industries {
    /* min-height: 781px; */
}


.AI-content {
    top: 13%;
    /* left: 8%; */
    z-index: 1;
    width: 50%;
}

.dots {
    left: 61.6%;
    top: 15%;
    /* z-index: 2; */
}

.dots1 {
    right: -7%;
    bottom: 0;
}

.care {
    font-size: 24px !important;
    font-weight: 600;
}

.care-para {
    font-size: 16px;
    line-height: 1.4;
}

.growth-cards {
    min-height: 781px;
}

.card1 {
    background-color: white;
    min-height: 350px;
    width: 350px;
    z-index: 2;
    padding: 24px;
    padding-top: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

.box-1 {
    right: 5%;
    top: 10%;
}

.box-2 {
    right: 38%;
    top: 40%;
}

.box-3 {
    top: 70%;
}