.Navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-container {
  position: relative;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}