.product{
    min-height: 1775px;
}

.container-padding{
    padding: 40px 0px 0px 0px;
}

.dot{
    left: -1%;
}

.circle-2{
    right: -5%;
}

.btn-doc{
    padding: 16px 24px;
    border-radius: 50px;
     background: linear-gradient(90deg, #3E6EB4, #CD6028);
     color: white;
     border: none;
     font-family: var(--font-raleway);
     font-weight: 700;
     letter-spacing: 4px;
}

.sheet{
    /* min-height: 504px; */
    width: 601px;
}

.APD{
    width: 40%;
}

.f-z{
    font-size: 32px !important;
    font-weight: bold !important;
    line-height: 1.5;
}

.img-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    z-index: 2;
    min-height: 750px;
}

.feature{
    font-weight: bold;
}

.f-s-16{
    font-size: 16px;
    line-height: 1.7;
}

.FB-para{
    font-size: 20px;
}

.button-2{
    display: flex;
    gap: 50px;
}

/* ----------product - 2 div -------------*/
.circle-3{
    left: -5%;
}

.dot1{
    z-index: 2;
    right: 10%;
    top: 80px;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.APD-2{
    width: 45%;
}

.img-content-2{
     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    min-height: 700px;
}


/* -------product 3 -------------*/

.circle-4{
    right: -60px;
    top: -60px;
}

.dot2{
    top: -10px;
    left: 10%;
}

